@import '../../variables.scss';

.ProductCard {
  display: flex;
  flex-direction: row;
  border: 1px solid #EEEEEE;
  border-radius: 5px;

  .thumbnail {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #EEEEEE;

    a {
      width: 100%;

      .image {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        background-size: cover;
      }
    }
  }

  .details {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 30px;

    a {
      text-decoration: none;
      color: $less-dark-text;
    }

    .name {
      margin-left: 10px;
      color: $less-dark-text;
      font-size: $large-font-size;
    }

    .description {
      margin-left: 10px;
      color: $less-dark-text;
      font-size: $normal-font-size;
    }

    .price {
      margin-left: 10px;
      color: #444444;
      font-size: $normal-font-size;
    }

    .btn-add {
      outline: none;
      border: none;
      padding: 10px;
      border-radius: 20px;
      background-color: $primary-color;
      font-size: $small-font-size;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}

.ProductCard.grid {
  display: flex;
  flex-direction: column;
  
  &:hover {
    padding: 1px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .thumbnail {
    flex: unset;
    border-right: unset;
  }

  .description {
    display: none;
  }

  .details {
    align-items: center;
    gap: 0;
    padding: 0;
    padding-bottom: 15px;

    a {

      .name {
        display: flex;
        min-height: 48px;
        margin: 0;
        padding: 0 20px;
        font-size: $normal-font-size;
      }
    }

    .price {
      margin: 0;
    }
  }

  .btn-add {
    width: 80%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .ProductCard {
    flex-direction: column;

    .description {
      display: none;
    }

    .details {
      align-items: center;
      gap: 0;
      padding: 0;
      padding-bottom: 15px;

      a {

        .name {
          display: flex;
          min-height: 48px;
          margin: 0;
          padding: 0 20px;
        }
      }

      .price {
        margin: 0;
      }
    }

    .btn-add {
      width: 80%;
      margin-top: 10px;
    }
  }
}