@import '../../variables.scss';

.HomePage {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;

  .slide {
    display: flex;
    align-items: center;

    .image-wrapper {
      flex: 1;
      padding: 50px;
       
      .image {
        width: 100%;
        padding-bottom: 70%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .info {
      flex: 1;

      .header {
        margin-top: 30px;
        margin-left: 10px;
        font-family: 'Comfortaa Bold';
        font-size: 40px;
        color: $dark-text;
      }

      .subheader {
        margin-top: 5px;
        margin-left: 10px;
        font-size: 30px;
        color: $dark-text;
      }

      .price {
        margin-top: 30px;
        margin-left: 10px;
        font-family: 'Open Sans Bold';
        font-size: 36px;
        color: $less-dark-text;
      }

      .btn-offer {
        display: inline-block;
        text-decoration: none;
        margin-top: 30px;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: $button-primary-background;
        font-size: $large-font-size;
        color: $button-primary-text;
        cursor: pointer;
      }
    }
  }

  section {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
  
    .section-title {
      font-size: 26px;
      text-align: center;
      color: $dark-text;
    }
  }

  .categories {
    width: 100%;
    display: flex;
    flex-direction: column;

    .categories__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 30px 0;
    }

    .CategoryItem {
      margin: 20px;
    }

    .categories__btn-all {
      text-decoration: none;
      align-self: center;
      padding: 10px 20px;
      border: 1px solid $primary-color;
      border-radius: 27px;
      background: $button-outline-background;
      font-size: $normal-font-size;
      color: $primary-text;

      &:hover {
        background-color: $button-primary-background;
        color: $button-primary-text;
      }
    }
  }

  .featured {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-list {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .ProductCard {
        width: calc((1180px / 4) - 20px - 20px - 1px - 1px);
        margin: 20px;
      }
    }
  }

  .statistic-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
      padding-bottom: 5px;
      border-bottom: 2px solid $primary-color;
      font-size: 18px;
      font-family: Comfortaa;
      color: $primary-text;
    }

    .section {
      width: calc((1180px / 3) - 30px - 30px);
      display: flex;
      flex-direction: column;
      margin: 30px;

      .product-list {
        width: 100%;
        display: flex;
        flex-direction: column;

        .product-item {
          text-decoration: none;
          display: flex;
          align-items: center;
          margin: 5px 0;

          .product-item__thumbnail {
            width: 50px;
            padding-bottom: 50px;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .product-item__title {
            flex: 5;
            min-height: 38px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            font-size: $small-font-size;
            color: $less-dark-text;
          }

          .product-item__price {
            flex: 2;
            padding-left: 10px;
            text-align: right;
            font-size: $small-font-size;
            color: $less-dark-text;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .HomePage {

    section {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    .slide {
      flex-direction: column;

      .image-wrapper {
        width: calc(100% - 50px - 50px);
      }

      .info {
        padding: 20px;
      }
    }

    .categories {

      .categories__list {
        margin: 0;
      }
    }
  }
}