.HomePage {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;

  section {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
  
    .section-title {
      font-size: 26px;
      text-align: center;
    }
  }

  .categories {
    width: 100%;
    display: flex;
    flex-direction: column;

    .categories__list {
      display: flex;
      justify-content: space-between;
      margin: 50px 0;
    }

    .categories__btn-all {
      text-decoration: none;
      align-self: center;
      padding: 10px 20px;
      border: 1px solid #5f71e6;
      border-radius: 27px;
      background: #FFFFFF;
      font-size: 14px;
      color: #5f71e6;

      &:hover {
        background-color: #5f71e6;
        color: #FFFFFF;
      }
    }
  }

  .statistic-products {
    display: flex;
    justify-content: space-between;

    h2 {
      padding-bottom: 5px;
      border-bottom: 2px solid #5f71e6;
      font-size: 18px;
      font-family: Comfortaa;
      color: #5f71e6;
    }

    .product-list {
      width: 275px;

      .product-item {
        text-decoration: none;
        display: flex;
        align-items: center;

        .product-item__thumbnail {
          flex: 1;
        }

        .product-item__title {
          flex: 5;
          min-height: 38px;
          display: flex;
          align-items: center;
          padding-left: 10px;
          font-size: 14px;
          color: #666666;
        }

        .product-item__price {
          flex: 2;
          padding-left: 10px;
          text-align: right;
          font-size: 14px;
          color: #666666;
        }
      }
    }
  }
}