@import '../../variables.scss';

.Footer {
  background-color: #111111;

  .content {
    width: 1180px;
    max-width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 50px 0;

    .logo {
      flex: 1;

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        font-family: 'Comfortaa Bold';
        font-size: 22px;
        color: $light-text;
      }
    }

    .links {
      flex: 1;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: $small-font-size;
      }

      a {
        text-decoration: none;
        margin: 5px 0;
        font-size: $small-font-size;
        color: $light-text;
      }
    }

    .category-links {
      flex: 1;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: $small-font-size;
      }

      a {
        text-decoration: none;
        margin: 5px 0;
        font-size: $small-font-size;
        color: #EEEEEE;
      }
    }

    .contact-info {
      flex: 1;
      display: flex;
      flex-direction: column;

      h3 {
        font-size: $small-font-size;
      }

      span {
        margin: 5px 0;
        font-size: $small-font-size;
        color: #EEEEEE;
      }
    }
  }

  .copyright {
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    padding: 0 30px;
    
    .content {
      flex-direction: column;

      .links {
        margin-top: 20px;
      }

      .category-links {
        margin-top: 20px;
      }

      .contact-info {
        margin-top: 20px;
      }
    }
  }
}