@import '../../variables.scss';

.Notification {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  z-index: 999;

  .content {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: #111111;
    color: #FFFFFF;

    .message {
      margin-left: 10px;
      font-size: $small-font-size;
    }

    .btn-close {
      outline: none;
      border: none;
      margin-left: 10px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: transparent;
      color: #FFFFFF;
      cursor: pointer;
    }
  }

  &.info {

    .content {
      background-color: $primary-color;
    }
  }
}