.ProductPage .breadcrumbs {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  padding: 70px 0;
}
.ProductPage .breadcrumbs a {
  text-decoration: none;
  color: #666666;
}
.ProductPage .breadcrumbs > * {
  margin: 0 3px;
  color: #666666;
}
.ProductPage .product-info {
  width: 1180px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 50px auto;
}
.ProductPage .product-info .images {
  flex: 1;
  display: flex;
}
.ProductPage .product-info .images .thumbnails {
  max-height: 332.5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-right: 5px;
}
.ProductPage .product-info .images .thumbnails img {
  height: 100px;
  margin: 5px 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  cursor: pointer;
}
.ProductPage .product-info .images .thumbnails img:hover {
  border-color: #888888;
}
.ProductPage .product-info .images .thumbnails img.selected {
  border-color: #888888;
}
.ProductPage .product-info .images .thumbnails::-webkit-scrollbar {
  width: 4px;
}
.ProductPage .product-info .images .thumbnails::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  border-radius: 10px;
}
.ProductPage .product-info .images .image {
  flex: 1;
}
.ProductPage .product-info .images .image img {
  width: 100%;
}
.ProductPage .product-info .info {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
}
.ProductPage .product-info .info .title {
  margin-left: 10px;
  font-size: 24px;
  color: #444444;
}
.ProductPage .product-info .info .price {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 22px;
  color: #444444;
}
.ProductPage .product-info .info .available {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 16px;
}
.ProductPage .product-info .info .available > span:nth-of-type(2) {
  margin-left: 5px;
}
.ProductPage .product-info .info .short-description {
  margin-left: 10px;
  margin-top: 40px;
  font-size: 20px;
  color: #444444;
}
.ProductPage .product-info .info .input-quantity {
  outline: none;
  border: none;
  width: 50px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  color: #444444;
}
.ProductPage .product-info .info .btn-add-to-cart {
  outline: none;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 30px;
  background: #5f71e6;
  font-size: 18px;
  color: #FFFFFF;
  cursor: pointer;
}
.ProductPage .product-details {
  width: 1180px;
  max-width: 100%;
  margin: 50px auto;
  color: #444444;
}
.ProductPage .product-details .tabs {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.ProductPage .product-details .tabs > * {
  border: 1px solid #CCCCCC;
  border-bottom: none;
  padding: 10px;
}
.ProductPage .product-details .tabs > *.selected {
  font-weight: bold;
}
.ProductPage .product-details .tabs > *:nth-of-type(1) {
  border-top-left-radius: 5px;
}
.ProductPage .product-details .tabs > *:nth-of-type(2) {
  border-left: 0;
  border-top-right-radius: 5px;
}
.ProductPage .product-details .tab-content {
  border: 1px solid #CCCCCC;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
}/*# sourceMappingURL=ProductPage.css.map */