@import '../../variables.scss';

.ProductPage {
  width: 1180px;
  max-width: 100%;
  min-height: calc(100vh - 75px - 0px);
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .product-info {
    width: calc(100% - 20px - 20px);
    display: flex;
    padding: 0 20px;

    .images {
      flex: 1;
      display: flex;

      .thumbnails {
        max-height: 332.5px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        margin-right: 5px;

        .thumbnail {
          width: 75px;
          padding-bottom: 75px;
          margin: 5px 10px;
          border-radius: 5px;
          background-size: cover;
          background-repeat: none;
          cursor: pointer;
        }

        &::-webkit-scrollbar {
          width: 4px;
        }
         
        &::-webkit-scrollbar-thumb {
          background-color: #CCCCCC;
          border-radius: 10px;
        }
      }

      .image {
        flex: 1;

        img {
          width: 100%;
        }
      }
    }

    .info {
      flex: 0.75;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 30px;

      .title {
        margin-left: 10px;
        font-size: 26px;
        color: $dark-text;
      }

      .price {
        margin-left: 10px;
        margin-top: 20px;
        font-size: 30px;
        color: $dark-text;
        font-family: 'Open Sans Bold';
      }

      .available {
        margin-left: 10px;
        margin-top: 20px;
        font-size: $normal-font-size;

        .label {
          color: $less-dark-text;
        }

        .value {
          margin-left: 5px;
          color: $primary-text;
        }
      }

      .short-description {
        margin-left: 10px;
        margin-top: 40px;
        font-size: $large-font-size;
        color: $less-dark-text;
      }

      .input-quantity {
        outline: none;
        border: none;
        width: 50px;
        margin-left: 10px;
        padding: 5px;
        border: 1px solid #CCCCCC;
        font-size: $large-font-size;
        color: $dark-text;
      }

      .btn-add-to-cart {
        outline: none;
        border: none;
        margin-top: 30px;
        padding: 10px 20px;
        border-radius: 30px;
        background: $button-primary-background;
        font-size: $large-font-size;
        color: $button-primary-text;
        cursor: pointer;

        span {
          margin-left: 10px;
        }
      }
    }
  }

  .product-details {
    width: 1180px;
    max-width: calc(100% - 20px - 20px);
    margin: 50px auto;
    padding: 0 20px;
    color: $dark-text;

    .tabs {
      display: flex;
      flex-direction: row;
      cursor: pointer;

      & > * {
        border: 1px solid #CCCCCC;
        border-bottom: none;
        padding: 10px;

        &.selected {
          font-weight: bold;
        }
      }

      & > *:nth-of-type(1) {
        border-top-left-radius: 5px;
      }

      & > *:nth-of-type(2) {
        border-left: 0;
        border-top-right-radius: 5px;
      }
    }

    .tab-content {
      border: 1px solid #CCCCCC;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      .description {
        padding: 20px;
      }

      .details {
        display: flex;

        .labels, .values {
          display: flex;
          flex-direction: column;

          & > span {
            padding: 10px;
          }

          & > span:nth-child(even) {
            background-color: #EEEEEE
          }
        }

        .values {
          flex: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .ProductPage {

    .product-info {      
      flex-direction: column;

      .images {
  
        .thumbnails {
  
          img {
            height: 50px;
          }
        }
      }

      .title {
        margin: 0;
        margin-top: 20px;
      }
    }
  }
}