@import '../../variables.scss';

.CategoryPage {
  width: 1180px;
  max-width: 100%;
  margin: 0 auto;
  
  .category-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 50px;

    .CategoryItem {
      margin: 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .CategoryPage {

    .category-list {
      justify-content: center;
    }
  }
}