@import '../../variables.scss';

.ArticlePage {
  width: 1180px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 50px;
  
  .article {
    display: flex;
    flex-direction: column;

    .image {
      display: flex;
      width: 100%;

      img {
        margin: 0 auto;
      }
    }

    .date {
      margin-top: 20px;
      margin-left: 10px;
      color: $dark-text;
    }

    .title {
      margin-top: 10px;
      margin-left: 10px;
      font-size: 24px;
      color: $dark-text;
    }

    .content {
      margin-top: 30px;
      white-space: pre-wrap;
      line-height: 25px;
      color: $dark-text;
    }
  }
}

@media screen and (max-width: 425px) {
  .ArticlePage {

    .article {
      padding: 10px;

      .image {

        img {
          width: 100%;
        }
      }

      .content {

        img {
          max-width: 100%;
        }
      }
    }
  }
}