.Cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 325px;
  height: 100vh;
  background-color: #FFFFFF;
  transition: left 0.25s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 999;

  &.open {
    left: calc(100vw - 325px);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #CCCCCC;

    span {
      font-size: 18px;
    }

    .products-count-badge {
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      border-radius: 50%;
      background-color: #5f71e6;
      font-size: 12px;
      font-family: 'Open Sans Bold';
      color: #FFFFFF;
    }

    .btn-close {
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .product-list {
    height: calc(100% - 20px - 20px - 71px - 117px);
    overflow: auto;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #CCCCCC;
    
    .cart-empty-message {
      font-size: 14px;
    }
  }

  .footer {
    margin: 0 20px;
    padding: 20px 0;

    .btn-checkout {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #5f71e6;
      font-size: 16px;
      color: #FFFFFF;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }
}
