@import '../../variables.scss';

.Cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 325px;
  max-width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  transition: right 0.25s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  z-index: 999;

  &.open {
    left: unset;
    right: 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #CCCCCC;

    span {
      font-size: $large-font-size;
    }

    .products-count-badge {
      width: 23px;
      height: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      border-radius: 50%;
      background-color: $primary-color;
      font-size: 12px;
      font-family: 'Open Sans Bold';
      color: $button-primary-text;
    }

    .btn-close {
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .product-list {
    height: calc(100% - 20px - 20px - 71px - 117px);
    overflow: auto;
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid #CCCCCC;
    
    .cart-empty-message {
      font-size: $small-font-size;
    }

    .product-list__item {
      display: flex;
      align-items: center;
      margin: 10px 0;

      .image {
        width: 15%;
        height: 0;
        padding-bottom: 15%;
        background-size: cover;
      }

      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .name {
          font-size: 14px;
          color: $dark-text;
        }

        .quantity {
          font-size: 14px;
          color: $dark-text;
          opacity: 0.8;
        }
      }

      .btn-remove {
        margin: 0 10px;
        color: $dark-text;
        cursor: pointer;
      }
    }
  }

  .footer {
    margin: 0 20px;
    padding: 20px 0;

    .btn-checkout {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: $button-primary-background;
      font-size: $normal-font-size;
      color: $button-primary-text;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }
}
