@import '../../variables.scss';

.SearchPage {
  width: 1180px;
  max-width: 100%;
  min-height: calc(100vh - 75px - 339px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;

  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}