@import '../../variables.scss';

.Products {
  width: 1180px;
  max-width: 100%;
  min-height: calc(100vh - 75px - 339px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;

  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .no-products-message {
      font-size: $normal-font-size;
      color: $less-dark-text;
    }

    .product-skeleton-item {
      width: 65%;
      display: flex;

      &:not(:first-of-type) {
        margin-top: 50px;
      }

      .thumbnail {
        flex: 1;
        height: 200px;
        border-radius: 10px;
        background-color: #EFEFEF;
      }

      .info {
        flex: 2;
        padding: 20px;

        .name {
          width: 80%;
          height: 30px;
          border-radius: 15px;
          background-color: #EFEFEF;
        }

        .description {
          width: 65%;
          height: 60px;
          margin-top: 20px;
          border-radius: 15px;
          background-color: #EFEFEF;
        }

        .price {
          width: 100px;
          height: 25px;
          margin-top: 30px;
          border-radius: 15px;
          background-color: #EFEFEF;
        }
      }
    }

    .ProductCard {
      width: 65%;

      &:not(:first-of-type) {
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Products {

    .list {

      .ProductCard {
        width: calc(100% - 20px - 20px);
      }
    }
  }
}