@import '../../variables.scss';

.CategoryItem {
  border: 1px solid #CCC;
  border-radius: 5px;

  .skeleton-item {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    
    .skeleton-item__images {
      width: 80%;
      height: 200px;
      border-radius: 5px;
      background-color: #CCCCCC;
    }

    .skeleton-item__name {
      width: 80%;
      height: 35px;
      border-radius: 5px;
      background-color: #CCCCCC;
    }
  }

  a {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #666666;
  }

  .images {
    height: 100%;
    display: flex;

    .big-image {
      display: flex;
      align-items: center;
      border-right: 1px solid #CCCCCC;

      .no-image-element {
        width: 210px;
        height: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .fill {
          width: calc(210px - 10%);
          height: calc(210px - 10%);
          border-radius: 10px;
          background-color: #CCCCCC;
        }
      }

      img {
        width: 210px;
        border-radius: 4px;
      }
    }

    .small-images {
      display: flex;
      flex-direction: column;

      & > div {
        flex: 1;
        display: flex;
        align-items: center;

        .no-image-element {
          width: 125px;
          height: 125px;
          display: flex;
          justify-content: center;
          align-items: center;
          
          .fill {
            width: calc(125px - 10%);
            height: calc(125px - 10%);
            border-radius: 10px;
            background-color: #CCCCCC;
          }
        }

        img {
          width: 125px;
          border-radius: 4px;
        }
      }
    }
  }

  .name {
    padding: 10px 0;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    font-size: $normal-font-size;
  }

  .products-count {
    padding-bottom: 10px;
    text-align: center;
    font-size: $small-font-size;
  }
}

@media screen and (max-width: 425px) {
  .CategoryItem {

    .images {
      justify-content: space-around;

      .big-image {
        border-right: none;
        
        img, .no-image-element {
          width: 150px;

          .fill {
            width: calc(150px - 10%);
            height: calc(150px - 10%);
          }
        }
      }

      .small-images {

        & > div {

          img, .no-image-element {
            width: 100px;

            .fill {
              width: calc(100px - 10%);
              height: calc(100px - 10%);
            }
          }
        }
      }
    }
  }
}