@import '../../variables.scss';

.CategoryItem {
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  a {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #666666;
  }

  .images {
    width: 100%;
    display: flex;

    .big-image {
      width: 65%;
      display: flex;
      align-items: center;
      padding: 20px;
      border-right: 1px solid #CCCCCC;

      .no-image-element {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .fill {
          width: 100%;
          padding-bottom: 75%;
          border-radius: 10px;
          background-color: #CCCCCC;
        }
      }

      .image {
        width: 100%;
        padding-bottom: 75%;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .small-images {
      width: 35%;
      display: flex;
      flex-direction: column;

      & > div {
        flex: 1;
        display: flex;
        align-items: center;
        padding: 13px;

        .no-image-element {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          
          .fill {
            width: 100%;
            padding-bottom: 100%;
            border-radius: 10px;
            background-color: #CCCCCC;
          }
        }

        .image {
          width: 100%;
          padding-bottom: 100%;
          border-radius: 4px;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }

  .name {
    padding: 10px 0;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    font-size: $normal-font-size;
  }
}

@media screen and (max-width: 425px) {
  .CategoryItem {

    .images {
      justify-content: space-around;

      .big-image {
        border-right: none;
        
        img, .no-image-element {
          width: 150px;

          .fill {
            width: calc(150px - 10%);
            height: calc(150px - 10%);
          }
        }
      }

      .small-images {

        & > div {

          img, .no-image-element {
            width: 100px;

            .fill {
              width: calc(100px - 10%);
              height: calc(100px - 10%);
            }
          }
        }
      }
    }
  }
}