@import '../../variables.scss';

.HomeSlider {
  width: 100%;

  .slide {
    display: flex;
    align-items: center;

    .image {
      flex: 1;

      img {
        width: 100%;
      }
    }

    .info {
      flex: 1;

      .header {
        margin-top: 30px;
        margin-left: 10px;
        font-family: Comfortaa;
        font-size: 34px;
      }

      .subheader {
        margin-top: 5px;
        margin-left: 10px;
        font-size: 24px;
      }

      .price {
        margin-top: 30px;
        margin-left: 10px;
        font-size: 24px;
      }

      .btn-offer {
        display: inline-block;
        text-decoration: none;
        margin-top: 30px;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: $button-primary-background;
        font-size: $large-font-size;
        color: $button-primary-text;
        cursor: pointer;
      }
    }
  }
}