@import './variables.scss';

@font-face {
  font-family: 'Open Sans';
  src: url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(./assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf);
}

.App {
  display: flex;
  flex-direction: column;
}

.App.navbar-fixed {
  padding-top: 75px;
}

body, button, input {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Bold', sans-serif;
}

.hidden {
  visibility: hidden !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.flex-direction-row {
  flex-direction: row !important;
}

.flex-direction-column {
  flex-direction: column !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.ms-1 {
  margin-left: 10px !important;
}

.ms-2 {
  margin-left: 20px !important;
}

.ms-3 {
  margin-left: 30px !important;
}

.ms-4 {
  margin-left: 40px !important;
}

.ms-5 {
  margin-left: 50px !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.fs-1 {
  font-size: 14px !important;
}

.fs-2 {
  font-size: 16px !important;
}

.fs-3 {
  font-size: 20px !important;
}

.fs-4 {
  font-size: 24px !important;
}

.fs-5 {
  font-size: 30px !important;
}

.text-dark {
  color: $dark-text !important;
}

.text-light {
  color: $light-text !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-primary {
  color: $primary-text !important;
}

.text-center {
  text-align: center !important;
}

.btn-primary {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $button-primary-background;
  font-size: $large-font-size;
  color: $button-primary-text;
  cursor: pointer;
}

.btn-primary.outline {
  border: 1px solid $primary-color;
  background-color: #FFFFFF;
  color: $primary-text;
}

.btn-primary.outline:hover {
  background-color: $button-primary-background;
  color: #FFFFFF;
}

.badge-primary {
  padding: 3px 10px !important;
  border-radius: 27px !important;
  background-color: $primary-color !important;
  font-size: 14px !important;
  color: #FFFFFF !important;
}

.link {
  text-decoration: none;
}