$primary-color: #5f71e6;
$primary-text: #5f71e6;
$dark-text: #444444;
$less-dark-text: #666666;
$light-text: #EEEEEE;
$button-primary-background: #5f71e6;
$button-primary-text: #FFFFFF;
$button-outline-background: #FFFFFF;
$small-font-size: 14px;
$normal-font-size: 16px;
$large-font-size: 18px;