@import '../../variables.scss';

.Navbar {
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 999;
  
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .content {
    position: relative;
    width: 1180px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .logo {
      position: absolute;
      height: 75px;
      display: flex;
      align-items: center;
      left: 0;
      font-family: 'Comfortaa Bold';
      font-size: 22px;

      svg {
        color: $primary-color;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $primary-color;
      }
    }

    .btn-mobile-menu {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: space-between;
      color: $dark-text;
      cursor: default;

      & > a, & > span {
        text-decoration: none;
        height: 75px;
        display: flex;
        align-items: center;
        margin: 0 30px;
        color: $dark-text;
      }

      .dropdown {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 30px;
        z-index: 999;

        &:hover {
          
          .dropdown__menu {
            display: flex;
          }
        }

        a {
          text-decoration: none;
        }

        .dropdown__menu {
          position: absolute;
          width: 200px;
          top: 100%;
          left: 100%;
          transform: translate(-50%, 0%);
          display: none;
          flex-direction: column;
          border-radius: 4px;
          background: #FFFFFF;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          
          .dropdown__item {
            position: relative;

            &:hover {

              .submenu {
                display: flex;
              }
            }

            a {
              text-decoration: none;
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: calc(100% - 30px - 30px);
              padding: 10px 30px;
              color: $dark-text;
            }

            .submenu {
              position: absolute;
              display: none;
              flex-direction: column;
              width: 200px;
              top: 0%;
              left: 100%;
              border-radius: 4px;
              background: #FFFFFF;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

              & > a {
                text-decoration: none;
                color: $dark-text;
              }
            }
          }
        }
      }
    }

    .right-menu {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0%, -50%);
      display: flex;
      align-items: center;

      [class^=btn-] {
        margin-left: 25px;
        cursor: pointer;
      }

      .btn-cart {
        position: relative;

        .products-count-badge {
          position: absolute;
          top: -15px;
          right: -15px;
          width: 23px;
          height: 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: $primary-color;
          font-size: 12px;
          font-family: 'Open Sans Bold';
          color: #FFFFFF;
        }
      }

      .btn-sign-in {
        position: relative;
        height: 75px;
        display: flex;
        align-items: center;

        .btn-toggle-menu {
          color: $dark-text;
        }

        .account-dropdown-menu {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0%);
          width: 150px;
          display: none;
          flex-direction: column;
          padding: 10px;
          background-color: #FFFFFF;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          & > a, & > button {
            outline: none;
            border: none;
            background-color: transparent;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            font-size: $small-font-size;
            color: $dark-text;
            cursor: pointer;

            span {
              margin-left: 10px;
            }
          }
        }

        &:hover {

          .account-dropdown-menu {
            display: flex;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .Navbar {
    width: calc(100%);

    .content {
      justify-content: space-between;
      align-items: center;
      width: calc(100%);
      margin: 0;

      .logo {
        position: relative;
        padding-left: 30px;
      }

      .btn-mobile-menu {
        position: absolute;
        right: 0;
        display: block;
        padding-right: 30px;
      }

      .menu {
        display: none;
      }

      .mobile-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 30px;
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

        a {
          text-decoration: none;
          margin: 15px 0;
          font-size: $large-font-size;
          color: $dark-text;
        }
      }

      .right-menu {
        position: relative;
        transform: none;
        padding-right: calc(58px + 30px);
        
        .btn-search {
          display: none;
        }

        .btn-favourites {
          display: none;
        }

        .btn-sign-in {
          display: none;
        }

        .btn-cart {
          margin: 0;
        }

        .btn-change-navbar-type {
          display: none;
        }
      }
    }
  }
}