@import '../../variables.scss';

@font-face {
  font-family: 'Comfortaa';
  src: url(../../assets/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}

.Navbar {
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .content {
    position: relative;
    width: 1180px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .logo {
      position: absolute;
      height: 75px;
      display: flex;
      align-items: center;
      left: 0;
      font-family: Comfortaa;
      font-size: 19px;

      svg {
        color: $primary-color;
      }

      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: $dark-text;
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;

      & > a {
        text-decoration: none;
        height: 75px;
        display: flex;
        align-items: center;
        margin: 0 30px;
      }

      .dropdown {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 30px;
        z-index: 999;

        &:hover {
          
          .dropdown__menu {
            display: flex;
          }
        }

        a {
          text-decoration: none;
        }

        .dropdown__menu {
          position: absolute;
          width: 200px;
          top: 100%;
          left: 100%;
          transform: translate(-50%, 0%);
          display: none;
          flex-direction: column;
          border-radius: 4px;
          background: #FFFFFF;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          
          .dropdown__item {
            position: relative;

            &:hover {

              .submenu {
                display: flex;
              }
            }

            a {
              text-decoration: none;
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: calc(100% - 30px - 30px);
              padding: 10px 30px;
            }

            .submenu {
              position: absolute;
              display: none;
              flex-direction: column;
              width: 200px;
              top: 0%;
              left: 100%;
              border-radius: 4px;
              background: #FFFFFF;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

              & > a {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .right-menu {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0%, -50%);
      display: flex;
      align-items: center;

      [class^=btn-] {
        margin-left: 25px;
        cursor: pointer;
      }

      .btn-cart {
        position: relative;

        .products-count-badge {
          position: absolute;
          top: -15px;
          right: -15px;
          width: 23px;
          height: 23px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: $primary-color;
          font-size: 12px;
          font-family: 'Open Sans Bold';
          color: #FFFFFF;
        }
      }

      .btn-sign-in {
        position: relative;
        height: 75px;
        display: flex;
        align-items: center;

        .user-dropdown-menu {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translate(-50%, 0%);
          width: 150px;
          display: none;
          flex-direction: column;
          padding: 10px;
          background-color: #FFFFFF;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

          & > a {
            text-decoration: none;
            padding: 10px;
            font-size: $large-font-size;

            span {
              margin-left: 10px;
            }
          }
        }

        &:hover {

          .user-dropdown-menu {
            display: flex;
          }
        }
      }
    }
  }
}